.cocktails {
  height: fit-content;
  background-color: #002f5c;
  color: white;
}

.cocktails-title {
  padding-top: 5%;
  font-size: 5rem;
  text-transform: uppercase;
}

.cocktails-subtitle {
  font-size: 2rem;
  font-weight: 400;
}
