.navbar-item {
  position: relative;
  font-size: 23px;
  width: 250px;
  height: inherit;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  width: 100%;
}

.navbar-item a.active {
  /* color: red; */
  font-weight: bold;
}

.navbar-item:hover .submenu {
  display: flex;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: aliceblue;

  z-index: 100;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.submenu a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.submenu a:hover {
  background-color: blue;
}
