strong {
  cursor: default;
}

.App {
  text-align: center;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 50px auto;
}

header {
  height: 50px;
  background-color: #002f5c;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
}

.detail-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.detail-columns {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.pointer-hover:hover {
  cursor: pointer;
  text-decoration: underline;
}
