.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  background-color: #002f5c;
  color: white;
}

.filters-title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filters-title h1 {
  padding-top: 5%;
  font-size: 5rem;
  text-transform: uppercase;
}

.filters-title h2 {
  font-size: 2rem;
  font-weight: 400;
}

.category-filter,
.glass-filter,
.search-filter {
  margin-top: 20px;
}

.category-filter {
  text-align: right;
}

.glass-filter {
  text-align: left;
  margin-right: 10px;
}

.search-filter {
  height: 32px;
}

.letter-filter {
  margin-top: 1rem;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

select {
  margin: 0 10px;
  height: 2rem;
  width: 15rem;
  text-align: center;
}

select:focus-visible {
  outline-width: 0;
}
